<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="NX512J">
        <parameter name="udid" value="NX512J"/>
        <parameter name="port" value="4491"/>
        <classes>
            <class name="com.zzy.appium.test.HangMei"/>
        </classes>
    </test>
</suite>
